<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <link rel="stylesheet" href="/bower_components/open-sans-fontface/open-sans.css"/>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/js/logger.js"></script>

  </head>
  <body>
  <input type="text"/>
  <div class="time">4088163848</div>
  </body>
</html>